---
import Banner from '../components/Banner.astro';
import CarouselBrands from '../components/Carousel-brands.astro';
import Carouselresenas from '../components/Carouselresenas.astro';
import Downloadd from '../components/Downloadd.astro';
import Funcionalidades from '../components/Funcionalidades.astro';
import Planes from '../components/Planes.astro';
import ProductDetail from '../components/ProductDetail.astro';
import ReseasEstadisticas from '../components/ReseñasEstadisticas.astro';
import Reviews from '../components/Reviews.astro';
import SecondBanner from '../components/Second-Banner.astro';
import SectionContainer from '../components/SectionContainer.astro';
import SliderCentral from '../components/SliderCentral.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Treggio" description="Software para la creación y gestión de tu catalogo de ventas de productos y servicios.">
	<main>
		<SectionContainer id="inicio" >
			<Banner></Banner>
		</SectionContainer>
		 <SectionContainer>
			<SecondBanner></SecondBanner>
		</SectionContainer>
		<SectionContainer >
			<CarouselBrands></CarouselBrands>
		</SectionContainer>
		<SectionContainer id="sobre-nosotros">
			<ProductDetail></ProductDetail>
		</SectionContainer>
		<SectionContainer >
			<SliderCentral></SliderCentral>
		</SectionContainer>
		<SectionContainer >
			<ReseasEstadisticas></ReseasEstadisticas>
		</SectionContainer>
		<SectionContainer >
			<Funcionalidades></Funcionalidades>
		</SectionContainer>
		<SectionContainer id="nuestros-planes">
			<Planes></Planes>
		</SectionContainer>
		<SectionContainer >
			<Reviews></Reviews>
		</SectionContainer>
		<SectionContainer >
			<Downloadd></Downloadd>
		</SectionContainer>
		<SectionContainer>
			<Carouselresenas></Carouselresenas>
		</SectionContainer>
	</main>
</Layout>
	