---
import Banner from '../components/Banner.astro';
import CarouselBrands from '../components/Carousel-brands.astro';
import Download from '../components/Download.astro';
import Funcionalidades from '../components/Funcionalidades.astro';
import Planes from '../components/Planes.astro';
import ProductDetail from '../components/ProductDetail.astro';
import ReseasEstadisticas from '../components/ReseñasEstadisticas.astro';
import Reviews from '../components/Reviews.astro';
import SecondBanner from '../components/Second-Banner.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Whatsapp from '../components/Whatsapp.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---


<Layout title="Productos" description="Software para la gestión de tu negocio">
	<main>
		<SectionContainer>
			<Banner></Banner>
		</SectionContainer>
		<SectionContainer >
			<SecondBanner ></SecondBanner>
		</SectionContainer>
		<SectionContainer>
			<CarouselBrands></CarouselBrands>
		</SectionContainer>
		<SectionContainer>
			<ProductDetail></ProductDetail>
		</SectionContainer>
		<SectionContainer>
			<ReseasEstadisticas></ReseasEstadisticas>
		</SectionContainer>
		<SectionContainer>
			<Funcionalidades></Funcionalidades>
		</SectionContainer>
		<SectionContainer>
			<Planes></Planes>
		</SectionContainer>
		<SectionContainer>
			<Reviews></Reviews>
		</SectionContainer>
		<SectionContainer>
			<Download></Download>
		</SectionContainer>
		<Whatsapp></Whatsapp>
	</main>
</Layout>
	