---
import SectionContainer from '../components/SectionContainer.astro';
import TerminosConficiones from '../components/TerminosConficiones.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Términos y condiciones" description="Software para la gestión de tu restaurante">
	<main>
		<SectionContainer>
            <TerminosConficiones></TerminosConficiones>
        </SectionContainer>
	</main>
</Layout>
	