---
// src/components/BenefitsSection.astro
---

<section class="bg-white py-12 w-2/3 mx-auto">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Primer beneficio -->
        <div class="flex flex-col p-6 border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition-shadow">
          <img src="https://whataform.com/assets/www/images/money.png" alt="money" class="w-12 h-12 mb-4">
          <div>
            <h3 class="text-xl font-semibold text-gray-800 mb-2">Ahorra dinero</h3>
            <p class="text-gray-600 text-sm">Despídete de las múltiples suscripciones y paga solo una.</p>
          </div>
        </div>
  
        <!-- Segundo beneficio -->
        <div class="flex flex-col p-6 border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition-shadow">
          <img src="https://whataform.com/assets/www/images/information.png" alt="information" class="w-12 h-12 mb-4">
          <div>
            <h3 class="text-xl font-semibold text-gray-800 mb-2">Centraliza tu Información</h3>
            <p class="text-gray-600 text-sm">Reúne todos tus datos en un solo lugar para una visión más clara y un manejo más eficiente.</p>
          </div>
        </div>
  
        <!-- Tercer beneficio -->
        <div class="flex flex-col p-6 border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition-shadow">
          <img src="https://whataform.com/assets/www/images/rocket.png" alt="rocket" class="w-12 h-12 mb-4">
          <div>
            <h3 class="text-xl font-semibold text-gray-800 mb-2">Una plataforma para todo</h3>
            <p class="text-gray-600 text-sm">Gestiona tus ventas, pedidos y clientes desde un solo lugar.</p>
          </div>
        </div>
  
        <!-- Cuarto beneficio -->
        <div class="flex flex-col p-6 border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition-shadow">
          <img src="https://whataform.com/assets/www/images/heart.png" alt="heart" class="w-12 h-12 mb-4">
          <div>
            <h3 class="text-xl font-semibold text-gray-800 mb-2">Fácil de usar</h3>
            <p class="text-gray-600 text-sm">Disfruta de una herramienta intuitiva simple de manejar. Sin complicaciones ni curvas de aprendizaje.</p>
          </div>
        </div>
  
        <!-- Quinto beneficio -->
        <div class="flex flex-col p-6 border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition-shadow">
          <img src="https://whataform.com/assets/www/images/start.png" alt="start" class="w-12 h-12 mb-4">
          <div>
            <h3 class="text-xl font-semibold text-gray-800 mb-2">Sin problemas de integración</h3>
            <p class="text-gray-600 text-sm">Olvídate de las complicaciones al conectar distintas aplicaciones.</p>
          </div>
        </div>
  
        <!-- Sexto beneficio -->
        <div class="flex flex-col p-6 border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition-shadow">
          <img src="https://whataform.com/assets/www/images/pc.png" alt="pc" class="w-12 h-12 mb-4">
          <div>
            <h3 class="text-xl font-semibold text-gray-800 mb-2">Supervisa tus Operaciones</h3>
            <p class="text-gray-600 text-sm">Controla inventario, pagos e información comercial en tiempo real, todo desde un solo panel.</p>
          </div>
        </div>
      </div>
    </div>

  </section>
  <a href="/#nuestros-planes">
  <button class="bg-[#009974] text-white text-3xl py-2 px-6 md:py-3 md:px-9 rounded-3xl cursor-pointer hover:scale-105 
  transition-all duration-200 shadow-lg shadow-cyan-500/50 flex justify-center mx-auto ">
      Quiero mi catálogo
  </button>
  </a>