<section class="mt-20 md:mt-54 w-full px-4 md:px-0">
    <div class="flex flex-col md:flex-row justify-between w-full max-w-[1240px] mx-auto">
        <div>
            <h2 class="text-3xl md:text-6xl font-bold">¿Por qué elegir <span class="text-[#009974]">RediRedi?</span></h2>
        </div>
        <div class="mt-6 md:mt-0">
            <button class="bg-[#009974] py-2 px-6 md:py-3 md:px-9 rounded-3xl text-white shadow-lg
             shadow-cyan-500/50 cursor-pointer hover:scale-105 
            transition-all duration-200 ">Empezar ahora</button>
        </div>
    </div>
    <div class="flex flex-col md:flex-row justify-between w-full max-w-[1240px] mx-auto mt-10 md:mt-20 gap-8 md:gap-20">
        <div class="space-y-6 md:space-y-15 w-full md:w-1/2"> 
            <p class="bg-[#F5F7F9] px-6 py-2 md:px-9 md:py-3 rounded-2xl text-lg md:text-2xl hover:scale-105 transition-all duration-350">
                Ahorra tiempo y esfuerzo
                <br>
                <span class="text-base md:text-lg">Crea tu catálogo en minutos, sin necesidad de conocimientos técnicos.</span>
            </p>
            <p class="bg-[#F5F7F9] px-6 py-2 md:px-9 md:py-3 rounded-2xl text-lg md:text-2xl hover:scale-105 transition-all duration-350 "> Vende sin comisiones
                <br>
                <span class="text-base md:text-lg ">Tus ganancias son 100% tuyas. RediRedi no cobra comisiones por venta.</span>
            </p>
            <p class="bg-[#F5F7F9] px-6 py-2 md:px-9 md:py-3 rounded-2xl text-lg md:text-2xl hover:scale-105 transition-all duration-350">Comparte tu catálogo en segundos
                <br>
                <span class="text-base md:text-lg">Un solo enlace o código QR para compartir en WhatsApp, Instagram, Facebook y más.</span>
            </p>
            <p class="bg-[#F5F7F9] px-6 py-2 md:px-9 md:py-3 rounded-2xl text-lg md:text-2xl hover:scale-105 transition-all duration-350">Recibe pedidos directo a WhatsApp
                <br>
                <span class="text-base md:text-lg">Olvídate de plataformas complicadas: tus clientes te contactan sin intermediarios.</span>
            </p>            
        </div>
        <div class="w-full md:w-1/2 mt-8 md:mt-0 space-y-5">
            <img src="/finance.JPG" alt="imagenes" class="rounded-3xl w-full h-auto">
            <button class="bg-[#009974] text-white py-2 px-6 md:py-3 md:px-9 rounded-3xl w-full cursor-pointer hover:scale-105 
            transition-all duration-200 shadow-lg shadow-cyan-500/50">
                Quiero mi catálogo
            </button>
        </div>
    </div>
</section>