<section class="mt-20 md:mt-50 text-center w-full px-4 md:px-0">
    <h2 class="text-3xl md:text-6xl font-bold">Funcionalidades que <span class="text-[#009974]">impulsan</span><br class="hidden md:block"> tu negocio</h2>
    <div class="flex flex-col md:flex-row justify-between mx-auto w-full max-w-[1240px] mt-10 md:mt-20 gap-8">
        <div class="bg-[#F5F7F9] rounded-2xl p-6 md:p-9 text-start space-y-5 w-full md:w-1/2">
            <h3 class="font-bold text-2xl md:text-4xl">
                Cat치logo digital 100% personalizable
            </h3>
            <p class="text-base md:text-lg">游늷 Agrega tu logo, colores, banner y categor칤as para reflejar la identidad de tu negocio.</p>
            <p class="text-base md:text-lg">游늷 Comparte tu cat치logo con un enlace 칰nico y c칩digos QR.</p>
            <img src="/comparte.png" alt="" class="w-3/3s h-auto rounded-lg">
        </div>
        <div class="bg-[#F5F7F9] rounded-2xl p-6 md:p-9 text-start space-y-4 w-full md:w-1/2">
            <h3 class="font-bold text-2xl md:text-4xl">
                Ventas directas por WhatsApp y redes sociales
            </h3>
            <p class="text-base md:text-lg">游늷 Recibe pedidos por WhatsApp sin intermediarios.</p>
            <p class="text-base md:text-lg">游늷 Genera im치genes promocionales con dise침o profesional para Instagram, Facebook y m치s.</p>
            <img src="/total-ventas.png" alt="" class="w-3/3 h-auto rounded-lg">
        </div>
    </div>
    <div class="bg-[#F5F7F9] rounded-2xl p-6 md:p-9 text-start space-y-5 w-full max-w-[1240px] mx-auto mt-8 flex flex-col md:flex-row justify-between gap-8">
        <div class="space-y-5 w-full md:w-1/2">
            <h3 class="font-bold text-2xl md:text-4xl">R치pido, f치cil y sin costos ocultos</h3>
            <p class="text-base md:text-lg">游늷 Sin comisiones por venta ni configuraciones complicadas.</p>
            <p class="text-base md:text-lg">游늷 Comienza ahora y escala con funciones avanzadas.</p>
            <a href="/#nuestros-planes">
            <button class="bg-[#009974] text-white py-2 px-6 md:py-3 md:px-9 rounded-3xl cursor-pointer
             hover:scale-105 transition-all duration-200 shadow-lg shadow-cyan-500/50">
                Quiero mi cat치logo
            </button>
            </a>
        </div>
        <div class="w-full md:w-1/2">
            <img src="/costo.jpg" alt="imagen de la derecha" class="w-full h-auto rounded-b-xl">
        </div>
    </div>
</section>