---
// src/components/Carousel.astro
const texts = [
  "Convierte tu idea en dinero AHORA",
  "Lanza y vende en minutos. ¡No esperes más!",
];
---

<style>
  .carousel {
    overflow: hidden;
    white-space: nowrap;
    width: 99%; /* Ancho completo */
    position: relative;
    background-color: black;
    padding: 1rem 0;
    transform: rotate(-2deg);
    transform-origin: center;
    margin-top: 1.875rem; /* 30px en rems */
  }

  .carousel-container {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
  }

  .carousel-item {
    display: inline-block;
    padding: 0 1.5rem;
    font-size: 3rem;
    color: white;
  }

  .separator {
    display: inline-block;
    margin: 0 0.5rem;
    color: white;
    font-size: 3rem;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  /* Media Queries para hacerlo Responsive */
  @media (max-width: 768px) {
    .carousel-item {
      font-size: 2rem; /* Reduce el tamaño en pantallas medianas */
      padding: 0 1rem;
    }

    .separator {
      font-size: 2rem; /* Reduce el tamaño en pantallas medianas */
      margin: 0 0.3rem;
    }
  }

  @media (max-width: 576px) {
    .carousel-item {
      font-size: 1.5rem; /* Reduce aún más en pantallas pequeñas */
      padding: 0 0.75rem;
    }

    .separator {
      font-size: 1.5rem; /* Reduce aún más en pantallas pequeñas */
      margin: 0 0.2rem;
    }
  }
</style>

<div class="carousel ">
  <div class="carousel-container ">
    {texts.map((text, index) => (
      <>
        <div class="carousel-item">{text}</div>
        {index < texts.length - 1 && <span class="separator">•</span>}
      </>
    ))}
    {texts.map((text, index) => (
      <>
        <div class="carousel-item">{text}</div>
        {index < texts.length - 1 && <span class="separator">•</span>}
      </>
    ))}
  </div>
</div>
