---
import '@fontsource-variable/rubik';
import '@fontsource/merriweather/300.css';
import '@fontsource/merriweather/400.css';
import '@fontsource/merriweather/700.css';
import '@fontsource/merriweather/900.css';
import NewHeader from "../components/NewHeader.astro";
import Footer from '../components/Footer.astro';
import "../styles/global.css";
import Whatsapp from '../components/Whatsapp.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Treggio - Software para la creación y gestión de tu catalogo de ventas de productos y servicios</title>
		<link rel="icon" type="image/svg+xml" href="/favicon-tre.jpg" />
		<script
	     type="text/partytown"
		 async src="https://www.googletagmanager.com/gtag/js?id=G-0FJQ86JY4V"></script>
		<script type="text/partytown">
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-0FJQ86JY4V');
		</script>
		<!-- Google Tag Manager -->
		<script type="text/partytown">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-MC3VCLB8');</script>
		<!-- End Google Tag Manager -->
		<!-- Meta Pixel Code -->
		<script is:inline>
			!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window, document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '1185218476567829');
			fbq('track', 'PageView');
			</script>
			<noscript><img height="1" width="1" style="display:none"
			src="https://www.facebook.com/tr?id=1185218476567829&ev=PageView&noscript=1"
			/></noscript>
			<!-- End Meta Pixel Code -->
  
		<!-- End Meta Pixel Code -->
		<meta property="og:title" content="Treggio - Vende rápido y fácil"/>
		<meta property="og:image" content="https://treggio.co/test.JPG"/>
		<meta property="og:url" content="https://treggio.co"/>
		<meta property="og:type" content="website"/>
		<meta property="og:locale" content="es_ES"/>
		<meta property="og:description" content="Crea tu tienda y catálogo para vender fácil y rapido en internet y por WhatsApp"/>


		<meta name="description" content="Crea tu tienda y catálogo para vender fácil y rapido en internet y por WhatsApp"/>
		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:site" content="treggio.co"/>

	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MC3VCLB8"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<NewHeader></NewHeader>
		<slot />
		<Footer>
		</Footer>
		<Whatsapp></Whatsapp>
	</body>
</html>

<style is:global>
	html{
		scroll-behavior: smooth;
	}
	body {
		
		font-family: 'Merriweather', serif;
		display: flex;
		flex-direction: column;
	}
	@media(prefers-reduce-motion:reduce){
		html{
			scroll-behavior: auto;
		}
	}
</style>